*,
*:before,
*:after {
    box-sizing: border-box;
}

// html {
//     font-size: calc(100vw / 1280 * 10);
// }

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

img {
    vertical-align: middle;
}
